@model Final.Models.Books

@{
    ViewData["Title"] = "Create";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Create</title>
    <link rel="stylesheet" asp-href-include="twitter-bootstrap/css/bootstrap.css" />
</head>
<h1>Create</h1>

<h4>Books</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Book_image" class="control-label"></label>
                <input asp-for="Book_image" class="form-control" placeholder="Enter URL of the image" />
                <span asp-validation-for="Book_image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book_type" class="control-label"></label>
                <select asp-for="Book_type" class="form-control">
                    <option value="No Value">Select</option>
                    <option value="Activity Books">Activity Books</option>
                    <option value="Story Books">Story Books</option>
                    <option value="Subject Books">Subject Books</option>
                </select>
                <span asp-validation-for="Book_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book_name" class="control-label"></label>
                <input asp-for="Book_name" class="form-control" placeholder="Enter Book name" />
                <span asp-validation-for="Book_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" placeholder="Enter its cost"/>
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" placeholder="Author of the book"/>
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
