@model IEnumerable<Final.Models.Cart>

@{
    ViewData["Title"] = "Cart";
}

<!DOCTYPE html>
<html>
<head>
   
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" asp-href-include="twitter-bootstrap/css/bootstrap.css" />
    
    <title>Cart Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

        body {
            font-family: Arial;
            font-size: 17px;
            padding: 8px;
        }

        * {
            box-sizing: border-box;
        }

        .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin: 0 -16px;
        }

        .col-25 {
            -ms-flex: 25%;
            flex: 25%;
        }


        .col-75 {
            -ms-flex: 75%;
            flex: 75%;
        }

        .col-25,
        .col-75 {
            padding: 0 16px;
        }


        .container {
            background-color: #f0f1f4;
            padding: 5px 20px 15px 20px;
            border: 1px solid lightgrey;
            border-radius: 3px;
        }

        hr {
            border: 1px solid lightgrey;
        }

        span.price {
            float: right;
            color: grey;
        }
        a{
            text-decoration:none;
            color:darkred;
            float:right;
        }
        .dustbin:hover{
            color:red;
        }
        .go {
            border-radius: 4px;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            border: none;
        }
    </style>
</head>
<body>

    <button  class="btn-primary go"><a style="color:aliceblue;" asp-action="Index"><i class="fa fa-arrow-left"></i> Home</a></button>
    <h1>Cart</h1>
    <div class="row">
        <div class="col-75">
            <div class="container">
                <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>@ViewBag.counter</b></span></h4>
                <form asp-action="Cart">

                    @foreach (var item in Model)
                    {
                        <div class="products">
                            <p>
                                <span class="price">₹@Html.DisplayFor(modelItem => item.Cost)</span>
                            <p>
                                <img class="col-15" src="@Html.DisplayFor(modelItem => item.Book_image)" alt="Books" width="100px">


                                <a class="dustbin" asp-action="Delete" asp-route-id="@item.Cart_id"><i class="fa fa-trash"></i></a>
                            </p>
                            <span class="font-weight-bold d-block">@Html.DisplayFor(modelItem => item.Book_name)</span>
                            </p>
                            <br />
                        </div>

                    }
                </form>
                <hr>
                <p>Total <span class="price" style="color:black"><b>₹@ViewBag.Total</b></span></p>
            </div>
        </div>
        <div class="col-25">
            <div class="container">
                <img src="https://cdn4.iconfinder.com/data/icons/book-shop/64/14_cart_shopping_book_shop_reading_literature-512.png" alt="order" width="75%">
            </div>
        </div>
    </div>
    <a asp-action="Checkout"><button class="btn-success go">Checkout</button></a>

</body>
</html>

