
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Checkout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            font-family: Arial;
            font-size: 17px;
            padding: 8px;
            background-color: #fcf7f1;
        }

        * {
            box-sizing: border-box;
        }

        .row {
            display: -ms-flexbox;

            display: flex;
            -ms-flex-wrap: wrap;

            flex-wrap: wrap;
            margin: 0 -16px;
        }

        .col-25 {
            -ms-flex: 25%;

            flex: 25%;
        }

        .col-50 {
            -ms-flex: 50%;

            flex: 50%;
        }

        .col-75 {
            -ms-flex: 75%;

            flex: 75%;
        }

        .col-25,
        .col-50,
        .col-75 {
            padding: 0 16px;
        }

        ab {
            background-color: #2196F3;
        }


        .container {
            background-color:  #f7e8d9;
            padding: 5px 20px 15px 20px;
            border: 1px solid lightgrey;
            border-radius: 3px;
        }

        input[type=text] {
            width: 100%;
            margin-bottom: 20px;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        label {
            margin-bottom: 10px;
            display: block;
        }

        .icon-container {
            margin-bottom: 20px;
            padding: 7px 0;
            font-size: 24px;
        }

        .fbtn {
            background-color: #3e0f0f;
            color: white;
            padding: 12px;
            margin: 10px 0;
            border: none;
            width: 100%;
            border-radius: 3px;
            cursor: pointer;
            font-size: 17px;
        }

        .fbtn:hover {
            background-color: #7b1e1e;
        }

        a {
            color: #2196F3;
        }

        hr {
            border: 1px solid lightgrey;
        }

        span.price {
            float: right;
            color: grey;
        }

    </style>
</head>

<body>

    <h2 style="text-align: center;">Enter The Details To Deliver</h2>
    <div class="row">
        <div class="col-75">
            <div class="container">


                <div class="row">
                    <div class="col-50">
                        <h3>Billing Address</h3>
                        <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                        <input type="text" id="fname" name="firstname" placeholder="Enter receiver name">
                        <label for="email"><i class="fa fa-envelope"></i> Email</label>
                        <input type="text" id="email" name="email" placeholder="Enter mail id">
                        <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                        <input type="text" id="adr" name="address" placeholder="eg: House No/Flat No,Street etc...">
                        <label for="city"><i class="fa fa-institution"></i> City</label>
                        <input type="text" id="city" name="city" placeholder="Enter the city">

                        <div class="row">
                            <div class="col-50">
                                <label for="state">State</label>
                                <input type="text" id="state" name="state" placeholder="Enter the state">
                            </div>
                            <div class="col-50">
                                <label for="zip">Pin Code</label>
                                <input type="text" id="zip" name="zip" placeholder="eg: 100201">
                            </div>
                        </div>
                    </div>

                    <div class="col-50">
                        <h3>Payment Mode</h3>
                        <label for="cname">Choose your payment method</label>
                        <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btn-check-outlined">Cash On Delivery</label>
                        <p>
                            Due to high demand Cash on Delivery is available,Every social distancing protocal will be
                            taken care by our associate, UPI  <i class="fa fa-qrcode" aria-hidden="true"></i> and cards <i class="fa fa-cc-visa" style="color:navy;"></i>
                            <i class="fa fa-cc-amex" style="color:blue;"></i>
                            <i class="fa fa-cc-mastercard" style="color:red;"></i> are allowed.
                        </p>
                        <br>
                        <br> <br> <br> <br> <br> <br> <br>
                        <p style="color: blue;">Free Delivery</p>
                        <button style="background-color: #090e11;" disabled>
                            <img src="https://thumbs.dreamstime.com/b/web-207131366.jpg"
                                 style="width: 30%;">
                        </button>
                    </div>

                </div>
                <label>
                    <input type="checkbox" name="sameadr"> Shipping address same as billing
                </label>
                <a asp-action="Index"><button onclick="fun()" type="submit" class="fbtn">procced</button></a>
                <script>
                    function fun() {
                        alert("Thank you for your shoping");
                    }
                </script>

            </div>
        </div>

    </div>

</body>

</html>
